<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IoT-devices Data</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualise_data.css') }}">
    </head>
    <body>
        <h1>IoT Devices Data</h1>
        <div class="data">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Datetime</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                {% for row in data %}
                <tr>
                    {% for key in keys %}
                    <td>{{ row[key] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>